/******************
Hero - INDEX
******************/
.hero-index {
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(../assets/hero-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
  h1 {
    color: white;
    font-size: 3rem;
  }
}
/******************
Hero - DENMARK
******************/
.hero-denmark {
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(../assets/hero-denmark.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  h1 {
    color: white;
    font-size: 3rem;
  }
}
/******************
Hero - SWEDEN
******************/
.hero-sweden {
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(../assets/hero-sweden.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  h1 {
    color: white;
    font-size: 3rem;
  }
}
/******************
Hero - NORWAY
******************/
.hero-norway {
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(../assets/hero-norway.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  h1 {
    color: white;
    font-size: 3rem;
  }
}
/******************
Hero - FINLAND
******************/
.hero-finland {
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(../assets/hero-finland.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  h1 {
    color: white;
    font-size: 3rem;
  }
}
/******************
Hero - ICELAND
******************/
.hero-iceland {
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(../assets/hero-iceland.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  h1 {
    color: white;
    font-size: 3rem;
  }
}
/******************
Hero - GERMANY
******************/
.hero-germany {
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(../assets/hero-germany.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  h1 {
    color: white;
    font-size: 3rem;
  }
}
/******************
Hero - POLAND
******************/
.hero-poland {
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(../assets/hero-poland.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  h1 {
    color: white;
    font-size: 3rem;
  }
}
/******************
Hero - RESERVATION
******************/
.hero-reservation {
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(../assets/hero-reservation.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
}